@import url('fancybox.css');
/*success and error snackbar shows here*/

#snackbarsuccs {
    visibility: hidden;
    min-width: 250px;
    background-color: #27e62e;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 38%;
    bottom: 30px;
    font-size: 16px;
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    min-width: 250px;
    background-color: #F0555E;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 40%;
    bottom: 30px;
    font-size: 16px;
}

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btnldr {
    font-size: 1.6em !important;
    margin-top: -5px;
}


.iserr {
    border: 2px solid red !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.nodata {
    color: #F0555E;
    font-size: 17px;
    font-weight: 600;
}

.fright {
    float: right !important;
}

.fleft {
    float: left !important;
}


.loadmreBtn {
    color: #ff6900 !important;
    text-decoration: underline !important;
}

.cptr {
    cursor: pointer !important;
}



.tcenter {
    text-align: center !important;
}


/*.dyn_trendydesigncategory,.dyn_vendorscategory{
    height: 250px;
    overflow-y: scroll;
}*/


.fancybox {
    position: relative;
    display: block;
}

.gallery-carousel-blk .fancybox:hover:before,
.gallery-carousel-blk .fancybox:hover:after {
    opacity: 1;
}

.gallery-carousel-blk .fancybox:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in 0.2s;
    width: 100%;
    z-index: 99;
}

.gallery-carousel-blk .fancybox:after {
    content: '\f0b2';
    width: 60px;
    height: 60px;
    font-family: 'FontAwesome';
    line-height: 60px;
    background: #e72e77;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in 0.2s;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: 99;
}

.fancybox-close {
    background: #fff;
    border: 1px solid #f0555e;
    text-align: center;
    border-radius: 50%;
    color: #f0555e;
    line-height: 36px;
}

.fancybox-close:hover {
    background: #f0555e;
    color: #fff;
}

.fancybox-close:before {
    content: '\f00d';
    font-family: 'FontAwesome';
}

.fancybox-nav:before {
    font-family: 'FontAwesome';
    color: #f0555e;
    font-size: 80px;
    transform: scaleY(1.5);
}

.fancybox-nav {
    height: auto;
    display: table;
    bottom: 0;
    margin: auto;
}

.fancybox-nav span {
    display: none;
}

.fancybox-nav::before {
    display: table-cell;
    vertical-align: middle;
}

.fancybox-prev:before {
    content: '\f104';
}

.fancybox-prev {
    left: -40px;
}

.fancybox-next {
    text-align: right;
    right: -40px;
}

.fancybox-next:before {
    content: '\f105';
}

.fancybox-nav {
    top: 35% !important;
}